<h1>らすと {{subject}}</h1>
<p>しろばらにゅうにゅう</p>

<h1>regions</h1>
<table border="1">
  <tr><th>id</th><th>名</th></tr>
  {{#regions}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
  </tr>
  {{/regions}}
</table>

<h1>region-list</h1>
<table border="1">
  <tr><th>id</th><th>名</th></tr>
  {{#region-list}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
  </tr>
  {{/region-list}}
</table>
